<form method='post' id='create-category-form' enctype='multipart/form-data'>
    <div class='row mt-3'>
        <div class='col-12'>
            <h4>THÊM SẢN PHẨM</h4>
        </div>
        <div class='col-lg-8 col-md-6 col-sm-12 d-flex flex-column gap-4'>
            <div class='d-flex flex-column'>
                <label for='product-name-create'>TÊN SẢN PHẨM</label>
                <input id='product-name-create' name='name' placeholder='Tên sản phẩm*' class='px-2 py-1 mt-1' />
            </div>
            <div class='d-flex flex-column'>
                <label for='product-description-create'>MÔ TẢ</label>
                <textarea id='summernote' name='description'></textarea>
            </div>
            <div>
                <button class='btn btn-primary fs-5 float-end' type='submit'>THÊM SẢN PHẨM</button>
            </div>
        </div>
        <div class='col-lg-4 col-md-6 col-sm-12 d-flex flex-column gap-4'>
            <div class='d-flex flex-column'>
                <label for='product-ms-create'>MÃ SỐ SẢN PHẨM</label>
                <input id='product-ms-create' name='ms' placeholder='Mã số sản phẩm*' class='px-2 py-1 mt-1' />
            </div>
            <div class='d-flex flex-column'>
                <label for='product-price-create'>GIÁ SẢN PHẨM</label>
                <input id='product-price-create' name='price' placeholder='Giá sản phẩm*' class='px-2 py-1 mt-1' />
            </div>
            <div class='d-flex flex-column'>
                <label for='product-quantity-create'>SỐ LƯỢNG SẢN PHẨM</label>
                <input
                    id='product-quantity-create'
                    name='quantity'
                    placeholder='Số lượng sản phẩm*'
                    class='px-2 py-1 mt-1'
                />
            </div>
            <div class='d-flex flex-column'>
                <label for='product-quantity-create'>DANH MỤC SẢN PHẨM</label>
                <select class='form-select' name='category'>
                    <option disabled selected>Chọn danh mục</option>
                    {{#each categories}}
                        <option value='{{this._id}}'>{{this.name}}</option>
                    {{/each}}
                </select>
            </div>
            <div class='d-flex flex-column'>
                <label for='product-thumb-create'>HÌNH ẢNH</label>
                <input
                    id='product-thumb-create'
                    name='thumb'
                    accept='image/*'
                    type='file'
                    placeholder='Hình ảnh'
                    class='px-2 py-1 border border-dark'
                />
            </div>
        </div>
    </div>
</form>
<script src='/script/admin/category.js'></script>