<nav
    class='navbar navbar-expand-lg bg-white text-uppercase fs-5 pt-0 border-bottom align-items-center d-flex flex-column'
>
    <div class='container-fluid'>
        <div class='row align-items-center w-100'>
            <div class='col'>
                <button
                    class='navbar-toggler mt-2'
                    type='button'
                    data-bs-toggle='offcanvas'
                    data-bs-target='#offcanvasNavbar'
                    aria-controls='offcanvasNavbar'
                >
                    <span class='navbar-toggler-icon'></span>
                </button>

                <div
                    class='offcanvas offcanvas-end'
                    tabindex='-1'
                    id='offcanvasNavbar'
                    aria-labelledby='offcanvasNavbarLabel'
                >
                    <div class='offcanvas-header'>
                        <h5 class='offcanvas-title' id='offcanvasNavbarLabel'>Menu</h5>
                        <button
                            type='button'
                            class='btn-close text-reset'
                            data-bs-dismiss='offcanvas'
                            aria-label='Close'
                        ></button>
                    </div>

                    <div class='offcanvas-body'>
                        <ul class='navbar-nav justify-content-start align-items-center gap-1'>
                            <li class='nav-item'>
                                <a class='nav-link link-header-sub-layout' href='/'><img
                                        width='120'
                                        height='45'
                                        src='/img/Dressore.png'
                                    /></a>
                            </li>
                            <li class='nav-item'>
                                <a class='nav-link link-header-sub-layout' href='/'>DASHBOARD</a>
                            </li>
                            <li class='nav-item'>
                                <a class='nav-link link-header-sub-layout' href='/tui-la-admin/san-pham'>SẢN PHẨM</a>
                            </li>
                            <li class='nav-item'>
                                <a class='nav-link link-header-sub-layout' href='/tui-la-admin/danh-muc'>DANH MỤC</a>
                            </li>
                            <li class='nav-item'>
                                <a class='nav-link link-header-sub-layout' href='/tui-la-admin/tin-tuc'>TIN TỨC</a>
                            </li>
                            <li class='nav-item'>
                                <a class='nav-link link-header-sub-layout' href='/tui-la-admin/banner'>BANNER</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</nav>