<div class='d-flex flex-column justify-content-center mt-5'>
    <p class='text-center text-body-emphasis fw-semibold my-font'>
        BẠN ĐÃ CÓ TÀI KHOẢN
    </p>
    <p class='text-center my-font fw-medium'>
        Đăng nhập tài khoản của bạn tại DCHIC
    </p>
    <div class='row d-flex justify-content-center'>
        <form class='d-flex flex-column justify-content-center col col-4 gap-3'>
            <input width='370' height='38' class='px-3 py-1 my-font' placeholder='Số điện thoại' />
            <input width='370' height='38' class='px-3 py-1 my-font' type='password' placeholder='Mật khẩu' />
        </form>
    </div>
</div>