<div class='mini-cart' style='right:-500px; top:0px'>
    <span class='hidden' id='check_AD'></span>
    <div class='mini-cart-wrap'>
        <i class='fa fa-arrow-right close-box'></i>
        <div class='mini-cart-head'>
            <i class='fa fa-shopping-cart'></i>
            <span>Giỏ hàng<span
                    class='cart-items-total'
                    id='cart-item-quantity'
                    data-cart-item-quantity='0'
                ></span></span>
        </div>

        <div id='minicart-list-product' class='mini-cart-list' style='padding-bottom:100px;'>
            <ul class='minicart-list-product'>
                <li><p>Chưa có sản phẩm nào trong giỏ hàng</p></li>
            </ul>
        </div>
    </div>

    <!-- Modal -->
    <div id='confirmDeleteItem' class='modal fade' role='dialog' style='z-index: 999999999'>
        <div class='modal-dialog'>

            <!-- Modal content-->
            <div class='modal-content'>
                <div class='modal-header'>
                    <h4 class='modal-title'>Xác nhận hủy sản phẩm</h4>
                    <button type='button' class='close' data-dismiss='modal'>×</button>
                </div>
                <div class='modal-body'>
                    <p>Xác nhận hủy sản phẩm này khỏi giỏ hàng?</p>
                </div>
                <div class='modal-footer'>
                    <button
                        type='button'
                        class='btn btn-dark'
                        id='btnDeleteCartItem'
                        data-dismiss='modal'
                        data-item-id='0'
                        onclick='DeleteCartItem(this)'
                    >Hủy sản phẩm</button>
                    <button
                        type='button'
                        class='btn btn-default'
                        data-dismiss='modal'
                        style='background-color: #fff; color: initial; border-color: #ccc;'
                    >Không</button>
                </div>
            </div>

        </div>
    </div>
    <style>
        .content-box-gift { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 100%; text-align:
        left; float: left; padding: 5px 0; background-color: #fff7e4; margin: 5px 0; font-size: 11px; background-color:
        #fff7e4; } .buy-box-gift { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 20%; float:
        right; text-align: right; color: #de5d39 !important; padding: 6px 0; margin: 5px 0; background-color: #fff7e4; }
        .gift-box { border-radius: 2px; border: 1px solid rgb(243 82 82); box-sizing: border-box; color: #de5d39;
        padding: 2px 5px; }
    </style>
</div>